{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	email {$ACME_EMAIL:admin@example.com}
}

{$BUZZ_DOMAIN:localhost} {
	reverse_proxy server:8080
}

*.{$BUZZ_DOMAIN:localhost} {
	tls {
		dns cloudflare {$CF_API_TOKEN}
	}
	reverse_proxy server:8080
}
